@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-brand-lime: #99cc33;
}


/*
* ============================
* Default Styles
*=============================
*/

@layer components {

    .content-box{
        @apply max-w-7xl mx-auto px-8 py-5
    }

    button{
        @apply cursor-pointer
    }

    body{
        @apply text-lg;
    }

    h1 {
        @apply text-3xl font-bold mb-2
    }

    h2 {
        @apply text-4xl font-bold mb-2
    }

    h3 {
        @apply text-xl font-bold mb-2
    }

    h4{
        @apply text-3xl font-semibold mb-2
    }

    p {
        @apply mb-8;
    }

    .btn {
        @apply block px-6 py-3 rounded-md font-bold text-center;
    }

    input,
    textarea {
        @apply border-1 border-gray-500
    }
}

/*
* ============================
* Features
*=============================
*/

.extended-link::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
}

[x-cloak] {
    display: none !important;
}

.text-shadow-dark {
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4), 1px 1px 5px rgba(0, 0, 0, 0.4), 1px 1px 9px rgba(0, 0, 0, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.9);
}

.text-shadow-light {
    text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.4), 1px 1px 5px rgba(255, 255, 255, 0.4), 1px 1px 9px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(255, 255, 255, 0.9);
}

.bb {
    @apply border border-black
}

.cutout {
    display: none;
  }

  .holder:hover > .cutout {
    display: block;
    color: white;
  }
